<h1>Listing waiting_lists</h1>

<table>
  <tr>
    <th>Consumer</th>
    <th>Service</th>
    <th>Category</th>
    <th>Referral date</th>
    <th>Acceptance date</th>
    <th>Completed date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @waiting_lists.each do |waiting_list| %>
  <tr>
    <td><%= waiting_list.consumer %></td>
    <td><%= waiting_list.service %></td>
    <td><%= waiting_list.category %></td>
    <td><%= waiting_list.referral_date %></td>
    <td><%= waiting_list.acceptance_date %></td>
    <td><%= waiting_list.completed_date %></td>
    <td><%= link_to 'Show', waiting_list %></td>
    <td><%= link_to 'Edit', edit_waiting_list_path(waiting_list) %></td>
    <td><%= link_to 'Destroy', waiting_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Waiting list', new_waiting_list_path %>
