<h1>Listing consumers</h1>

<table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Birthdate</th>
    <th>Country</th>
    <th>Gender</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @consumers.each do |consumer| %>
  <tr>
    <td><%= consumer.firstname %></td>
    <td><%= consumer.lastname %></td>
    <td><%= consumer.birthdate %></td>
    <td><%= consumer.country %></td>
    <td><%= consumer.gender %></td>
    <td><%= link_to 'Show', consumer %></td>
    <td><%= link_to 'Edit', edit_consumer_path(consumer) %></td>
    <td><%= link_to 'Destroy', consumer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Consumer', new_consumer_path %>
